body {
  background-color: #FFBB5C;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
}

.StyledContainer {
  display: flex;
  flex-direction: row;
  height: 100vw;
  width: auto;
  padding-bottom: 10rem;
}

.NavBar{
  width: 100%;
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  background-color:white;
  height: 4rem;
}

.UserProfile{
  background-color: white;
  border-radius: 2rem;
  color: black;
  position: relative;
  width: 90vmin;
  aspect-ratio: 1.618;
  top:5rem;
  left:3rem;
}


.UserList{
  position: relative;
  width:100%;
  padding-bottom: 6rem;
}

.UsersGrid{
  position: absolute;
  left:1rem;
  width: 70%;
}

.NewUserForm{
  position: absolute;
  right: 5rem;
  width: 20%;
}

.image{
  height: 100%;
  width: 80%;
  position: absolute;
  top: 20%;
  left: 55%;
}

.UserProfileText{
  position: absolute;
  top: 8%;
  left:10%;
  font-size: small;
}

button{
  background-color: #c63d2f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1rem;
}

.savebutton{
  background-color: #c63d2f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1rem;
}

.ServiceList{
  position: relative;
  width: 100%;
}

.GridDisplay{
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 90%;
}

h1{
  text-align: center;
}

li {
  float: left;
}

li a{
  display: block;
  color: #c63d2f;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  padding: 1.5em;
  text-decoration: none;
}

li a:hover{
  background-color: #C70039;
  color: white;
}


img {
  max-width: 50%;
}

input{
  width:100%;
  padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
  right:20px;
}